<!--
  Generated template for the StarRating component.

  See https://angular.io/docs/ts/latest/api/core/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
<ion-icon name="star"  *ngFor="let r of ratingArr,let i = index" (click)="updateRating(i+1,true)"></ion-icon>
<ion-icon name="star-outline" *ngFor="let r of ratingComplementArr,let i = index" (click)="updateRating(i+1)"></ion-icon>
{{rating || "0"}}