<!--
  Generated template for the ShiftFormPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>

    <ion-title>shift-form</ion-title>
    <ion-buttons end>
      <button (click)="submit()"> save</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="shift-form">
  <button fab fab-bottom large fab-center> <ion-icon name="notifications"></ion-icon> </button>

  <ion-list>
    <ion-item>
      <ion-label>
        <ion-spinner name="bubbles" *ngIf="loadingLocations"></ion-spinner> Location
      </ion-label>
      <ion-select [(ngModel)]="model.Location" multiple="false" cancelText="Cancel" okText="Done" (change)="handleLocationChanged()">
        <ion-option [value]="locationItem.locationId" *ngFor="let locationItem of locationsDatasource">{{locationItem.label}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-spinner name="bubbles" *ngIf="loadingJobs"></ion-spinner> JobTitle
      </ion-label>
      <ion-select [(ngModel)]="model.Job" multiple="false" cancelText="Cancel" okText="Done" (change)="handleJobTitleChanged()">
        <ion-option [value]="JobItem.jobTitleId" *ngFor="let JobItem of jobsDatasource">{{JobItem.label}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-spinner name="bubbles" *ngIf="loadingEmployees"></ion-spinner> Employee
      </ion-label>
      <ion-select [(ngModel)]="model.Employee" multiple="false" cancelText="Cancel" okText="Done" (change)="handleEmployeeChanged($event)">
        <ion-option [value]="employeeItem.employeeId" *ngFor="let employeeItem of employeesDatasource">{{employeeItem.label}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-spinner name="bubbles" *ngIf="loadingResponsibilities"></ion-spinner> Job Responsibility
      </ion-label>
      <ion-select [(ngModel)]="model.Responsibility" multiple="false" cancelText="Cancel" okText="Done" (change)="handleResponsibilityChanged()">
        <ion-option [value]="responsibilityItem.jobResponsibilityId" *ngFor="let responsibilityItem of ResponsibilitiesDatasource, let i = index">{{responsibilityItem.label}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      Rating
      <star-rating item-right maxRating=5 [rating]="model.JobRating" (onChange)="handleRatingUpdate($event)"> </star-rating>
    </ion-item>

    <ion-item>
      <ion-label> Date </ion-label>
      <ion-datetime displayFormat="MMM,DD YYYY" pickerFormat="MM/DD/YYYY" [(ngModel)]="model.dateStr" (change)="handleDateChange()"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label> Start Time </ion-label>
      <ion-datetime displayFormat="h:mm a" pickerFormat="h:mm a" [(ngModel)]="model.startTimeString" (change)="handleDateChange()"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label> End Time </ion-label>
      <ion-datetime displayFormat="h:mm a" pickerFormat="h:mm a" [(ngModel)]="model.endTimeString" (change)="handleDateChange()"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-spinner name="bubbles" *ngIf="loadingSites"></ion-spinner> Site
      </ion-label>
      <ion-select [(ngModel)]="model.Site" multiple="false" cancelText="Cancel" okText="Done" (change)="handleSiteChanged()">
        <ion-option [value]="siteItem.SiteID" *ngFor="let siteItem of sitesDatasource">{{siteItem.label}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item text-wrap (click)="openAddressForm()">
      <ion-label> Address </ion-label>
      <ion-textarea [value]="addressString" rows="3">

      </ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>