<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Change Password </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <div class="logo">
      <img src="img/r365Logo.png">
    </div>

    <form #changePasswordForm="ngForm" novalidate>

      <ion-item>
        <ion-label floating primary>Old Password</ion-label>
        <ion-input [(ngModel)]="formModel.oldPassword" name="oldPassword" ngControl="oldPassword" type="password" #oldPassword="ngForm"
          required>
        </ion-input>
      </ion-item>
      <p [hidden]="oldPassword.valid || changePasswordForm.submitted == false" danger padding-left>
        Old Password is required
      </p>

      <ion-item>
        <ion-label floating primary>New Password</ion-label>
        <ion-input [(ngModel)]="formModel.newPassword" name="newPassword" ngControl="newPassword" type="password" #newPassword="ngForm"
          required>
        </ion-input>
      </ion-item>
      <p [hidden]="newPassword.valid || changePasswordForm.submitted == false" danger padding-left>
        New Password is required
      </p>

      <ion-item>
        <ion-label floating primary>Confirm Password</ion-label>
        <ion-input [(ngModel)]="formModel.confirmPassword" name="confirmPassword" ngControl="confirmPassword" #confirmPassword="ngForm"
          type="password" required>
        </ion-input>
      </ion-item>
      <p [hidden]="confirmPassword.valid || changePasswordForm.submitted == false" danger padding-left>
        Password is required
      </p>
      <p *ngIf="confirmPassword.valid && passwordDoesntMatch" danger padding-left>
        confirm Password must match
      </p>

      <ion-row responsive-sm>
        <ion-col>
          <button (click)="confirmChangePassword(changePasswordForm)" type="submit" primary block>   <ion-spinner name="bubbles" *ngIf="loggingYouInSpinner"></ion-spinner>   submit</button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>

</ion-content>