.shift-item{
    .shift-date-time{
        text-align: center;
        .shift-date{
            color:red;
        }
        .shift-time{
            font-size:14px;
        }
    }
    .shift-details{
        .employee{

        }
        .job-title{

        }
        .location{

        }
    }
}