<ion-grid>
  <ion-row class='shift-item' center>
    <ion-col class="shift-date-time" width-33 center>
      <div class="shift-date">
        {{shift.Date|stringDate:'M/d/yyyy':'MMM d'}}
      </div>
      <hr/>
      <div class="shift-time">
        {{shift.StartTime|stringDate:'h:mm a':'h:mma'}} - {{shift.EndTime|stringDate:'h:mm a':'h:mma'}}
      </div>
    </ion-col>
    <ion-col class="shift-details" width-66>
      <p class="employee"> {{shift.EmployeeName}}</p>
      <h2 class="job-title"> {{shift.JobName}}</h2>
      <h3 class="location" *ngIf="showLocation"> {{shift.LocationName}}</h3>
    </ion-col>
  </ion-row>
</ion-grid>