<!--
  Generated template for the AnnouncementsPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title> Announcements </ion-title>
    <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  </ion-navbar>
</ion-header>

<ion-content padding class="announcements">

  <ion-card *ngFor="let announcement of announcements, let i = index">
    <img src='http://lorempixel.com/480/250?i={{i}}' />
    <ion-card-content>
      <!--<ion-card-title>
        {{announcement.Announcement}}
      </ion-card-title>-->
      <p>
        {{announcement.Announcement}}
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>