<ion-header>
  <ion-navbar>
    <ion-title>Assigned Shifts</ion-title>
    <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  </ion-navbar>
</ion-header>

<ion-content padding class="shift-list">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content> Loading shifts</ion-refresher-content>
  </ion-refresher>

  <ion-item>

    <ion-label>
      <ion-spinner name="bubbles" *ngIf="loadingLocations"></ion-spinner> Location </ion-label>
    <ion-select block class="full-width" [(ngModel)]="selectedLocation" multiple="false" cancelText="cancel" okText="done" (change)="getShiftList()">
      <ion-option [value]="locationItem.locationId" *ngFor="let locationItem of locationsDatasource">{{locationItem.label}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-list>

    <ion-item *ngFor="let shift of shiftList" (click)=goToItemDetails(shift)>
      <shift-item [shift]="shift"></shift-item>
    </ion-item>
  </ion-list>
</ion-content>