<ion-header>

  <ion-toolbar>
    <ion-buttons start>
      <button  (click)="closeModal()"> cancel
      </button>
    </ion-buttons>
    <ion-title> Address Form</ion-title>
    <ion-buttons end>
      <button (click)="saveAddress()"> ok
    </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        Street 1
      </ion-label>
      <ion-input [(ngModel)]="address.Address1"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        Street 2
      </ion-label>
      <ion-input [(ngModel)]="address.Address2"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        City
      </ion-label>
      <ion-input [(ngModel)]="address.City"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        State
      </ion-label>
      <ion-input [(ngModel)]="address.State"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        Zip
      </ion-label>
      <ion-input [(ngModel)]="address.Zip"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        Country
      </ion-label>
      <ion-input [(ngModel)]="address.Country"></ion-input>
    </ion-item>
  </ion-list>

</ion-content>