<!--
  Generated template for the ShiftListPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>shiftList</ion-title>
    <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  </ion-navbar>
</ion-header>
<ion-content padding class="shift-list">
  <ion-list>
    <ion-item *ngFor="let shift of shiftList">
      {{shift.JobName}}
    </ion-item>
  </ion-list>
</ion-content>