
  <ion-tabs selectedIndex="0">
    <ion-tab [root]="assignedShiftsPage" tabTitle="Assigned Shifts"></ion-tab>
    <ion-tab [root]="unassignedShiftsPage" tabTitle="Unassigned Shifts"></ion-tab>
  </ion-tabs>