<ion-header>
  <ion-navbar>
    <ion-title> Unassigned Shifts </ion-title>
    <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  </ion-navbar>
</ion-header>
<ion-content padding class="shift-list">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content> Loading shifts</ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item>
      <ion-spinner name="bubbles"></ion-spinner>
      <ion-label> Location </ion-label>
      <ion-select block class="full-width" [(ngModel)]="selectedLocation" multiple="false" cancelText="cancel" okText="done" (change)="getShiftList()">
        <ion-option [value]="locationItem.locationId" [checked]="first" *ngFor="let locationItem of locationsDatasource,let i = index">{{locationItem.label}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngFor="let shift of shiftList" (click)=goToitemDetails(shift)>
      <shift-item [shift]="shift"> </shift-item>
    </ion-item>
  </ion-list>
</ion-content>