<!--
  Generated template for the EmployeesListPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
    <ion-title>employeesList</ion-title>
  </ion-navbar>
  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterItems($event)"></ion-searchbar>
</ion-header>
<ion-content padding class="employees-list">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item-sliding *ngFor="let employee of employeesList">
      <ion-item (click)="goToEmployeePage(employee)">
        <ion-avatar item-left>
          <img src="{{employee.filePublicLink||'img/employee.png'}}">
        </ion-avatar>
        <h2>{{employee.FullName}}</h2>
        <p> <i class="ion-icon ion-ios-telephone"></i> {{employee.MobilePhone}} </p>
      </ion-item>
      <ion-item-options>
        <button ng-show="employee.MobilePhone" primary (click)="sendSmsMsg(employee.MobilePhone,$event)">
          <ion-icon name="text"></ion-icon>
          Text
        </button>
        <button ng-show="employee.MobilePhone" secondary (click)="callPhone(employee.MobilePhone)">
          <ion-icon name="call"></ion-icon>
          Call
        </button>
        <button ng-show="employee.email" secondary (click)="sendEmail(employee.email)">
          <ion-icon name="email"></ion-icon>
          Email
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>