<ion-header>
  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <div class="logo">
      <img src="img/r365Logo.png">
    </div>

    <form #loginForm="ngForm" novalidate>
      <ion-item>
        <ion-label floating primary>Username / Email</ion-label>
        <ion-input [(ngModel)]="loginData.username" (blur)="loadSubdomains()" ngControl="username" type="text" #username="ngForm"
          required>
        </ion-input>
      </ion-item>
      <p [hidden]="username.valid || !loginForm.submitted" danger padding-left>
        Username is required
      </p>
      <p [hidden]="!userNotRegistered && loginData.username ||showLoadingSubDomainsSpinner || !loginForm.submitted" danger padding-left>
        Username/email doesn't belong to any domain.
      </p>

      <ion-item>
        <ion-label floating primary>Password</ion-label>
        <ion-input [(ngModel)]="loginData.password" ngControl="password" type="password" #password="ngForm" required>
        </ion-input>
      </ion-item>
      <p [hidden]="password.valid || !loginForm.submitted" danger padding-left>
        Password is required
      </p>

      <ion-item>
        <ion-label>
          <ion-spinner name="bubbles" *ngIf="showLoadingSubDomainsSpinner"></ion-spinner> Domain</ion-label>
        <ion-select ngControl="subDomain" #subDomain="ngForm" name="subdomain" [(ngModel)]="loginData.subDomain" required>
          <ion-option *ngFor="let domain of subDomains" [value]="domain.subDomain">{{domain.subDomain}}</ion-option>
        </ion-select>
      </ion-item>
      
      <p [hidden]="subDomain.valid && loginData.username || !loginForm.submitted" danger padding-left>
        Domain is required
      </p>

      <ion-item>
        <button block clear (click)="confirmResetPassword($event)">
          Forgot Password?
         </button>
      </ion-item>

      <ion-row responsive-sm>
        <ion-col>
          <button (click)="doLogin(loginForm)" type="submit" primary block>   <ion-spinner name="bubbles" *ngIf="loggingYouInSpinner"></ion-spinner>   Login</button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>

</ion-content>